name: Build RHEL bootc qcow disk image with GHA
on:
  workflow_dispatch:
  push:
    tags:
      - '*'
    branches:
      - '**'
jobs:
  rhel-bootc-qcow2-build:
    name: Build RHEL bootc qcow2 image with repo access
    runs-on: ubuntu-latest
    env:
      # Disable Subscription Manager container passthrough
      SMDEV_CONTAINER_OFF: 1
      # Subscription Manager credentials - uses repository secrets
      # RHT_ORGID: "${{ secrets.RHT_ORGID }}"
      # RHT_ACT_KEY: "${{ secrets.RHT_ACT_KEY }}"
      
      # Source registry for base image
      SOURCE_REGISTRY_HOST: "registry.redhat.io"
      # Source credentials - uses repository secrets
      # SOURCE_REGISTRY_USER: "${{ secrets.SOURCE_REGISTRY_USER }}"
      # SOURCE_REGISTRY_PASSWORD: "${{ secrets.SOURCE_REGISTRY_PASSWORD }}"

      # Source container image namespace and name (eg: myrepo/myimage)
      SRC_CONTAINER_REGISTRY: "ghcr.io"
      SRC_CONTAINER_IMAGE: "${{ github.actor }}/${{github.event.repository.name}}"
      SRC_CONTAINER_IMAGE_TAG: "main"

    steps:
      - name: Clone the repository
        uses: actions/checkout@v4

      - name: Build QCOW2 disk image
        id: build-qcow2
        uses: osbuild/bootc-image-builder-action@v0.0.2
        with:
          config-file: ./config.toml
          image: "${{ SRC_CONTAINER_REGISTRY }}/${{ SRC_CONTAINER_IMAGE }}:${{ SRC_CONTAINER_IMAGE_TAG }}"
          types: |
            qcow2

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: rhel-images
          path: ${{ steps.build-qcow2.outputs.output-directory }}
          if-no-files-found: error
          compression-level: 0
          overwrite: true
      
