name: Build RHEL bootc qcow disk image with GHA
on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  rhel-bootc-image-build:
    name: Build RHEL bootc image with repo access
    runs-on: ubuntu-latest
    env:
      # Disable Subscription Manager container passthrough
      SMDEV_CONTAINER_OFF: 1
      # Subscription Manager credentials - uses repository secrets
      # RHT_ORGID: "${{ secrets.RHT_ORGID }}"
      # RHT_ACT_KEY: "${{ secrets.RHT_ACT_KEY }}"
      
      # Source registry for base image
      SOURCE_REGISTRY_HOST: "registry.redhat.io"
      # Source credentials - uses repository secrets
      # SOURCE_REGISTRY_USER: "${{ secrets.SOURCE_REGISTRY_USER }}"
      # SOURCE_REGISTRY_PASSWORD: "${{ secrets.SOURCE_REGISTRY_PASSWORD }}"

      # Containerfile to build
      CONTAINERFILE: Containerfile

      # Destination image namespace and name (eg: myrepo/myimage)
      DEST_IMAGE: "${{ github.actor }}/${{github.event.repository.name}}"

      # List of tags to publish
      TAGLIST: latest ${{ github.sha }} ${{ github.ref_name }}

      # Destination registry for built images
      DEST_REGISTRY_HOST: "ghcr.io"
      # Destination credentials - uses platform variables and secrets
      # DEST_REGISTRY_USER: "${{ github.actor }}"
      # DEST_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

#    container:
#      image: registry.access.redhat.com/ubi9/ubi
#      options: --privileged
#    permissions:
#      contents: write
#      packages: write

    steps:
      - name: Clone the repository
        uses: actions/checkout@v4

      - name: Build ISO
        id: build-iso
        uses: osbuild/bootc-image-builder-action@vX.Y.Z
        with:
          config-file: ./config.toml
          image: ghcr.io/benblasco/redhat-image-mode-actions:main
          types: |
            qcow2

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: iso
          path: ${{ steps.build-iso.outputs.output-directory }}
          if-no-files-found: error
      
